@import "anim/base";
.bg-deluxe-shimmer {
  //@apply rounded;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background: black center;
  opacity: 0.20;
}

.specular {
  mix-blend-mode: color-burn;
  background-size: cover;
  // angled rainbow colour gradient
  background: #000 linear-gradient(85deg, #000, #000, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #ff0000, #000, #000) no-repeat;
  animation: bg-deluxe-shimmer 5s infinite;
}

.mask {
  z-index: 1;
  background-size: 100%;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(85deg,rgba(0,0,0,.2),rgba(0,0,0,.2)),url("/img/mask/shimmer-pattern.fx.png");
  animation: back-white-hue-shift 5s infinite;
}

@keyframes bg-deluxe-shimmer {
  0% {
    background-position: -706px 0;
  }
  100% {
    background-position: 706px 0;
  }
}

@keyframes back-white-hue-shift {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
