@use '@carbon/react';
@use '@carbon/ibm-products/css/index';
@use '@carbon/ibm-security/css';

.cds--btn--icon-only {
    padding-block-start: 0 !important;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
