@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'snapper/crawl';

@import 'to-org';
@import 'nextgen2/main';
@import 'unicorn/texture';
@import 'maimai-buddies';
@import 'snapper/deluxe-shimmer';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-default;
  }

  body {
    //@apply bg-background text-foreground;
  }
}

#snap-UniverseEntryTest {
  transform: translateY(100%);
  animation: slideUpUniverse 400ms cubic-bezier(0.32, 0.72, 0, 1);
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

#NGContentArea.EntryTest {
  animation: slideUpUniverseBody 400ms cubic-bezier(0.32, 0.72, 0, 1);
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

.EntryPointTestStage2 {
  animation: slideUpUniverseStage2 400ms cubic-bezier(0.32, 0.72, 0, 1) !important;
  animation-fill-mode: forwards !important;
}

.EntryPointTestStage2Body {
  animation: slideUpUniverseBodyStage2 400ms cubic-bezier(0.32, 0.72, 0, 1) !important;
  animation-fill-mode: forwards !important;
}

.AccordionChevron {
  color: var(--violet-10);
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(180deg);
}

.AccordionContent[data-state='open'] {
  @apply border-b;
  animation: slideDown 300ms cubic-bezier(0.32, 0.72, 0, 1);
}

.AccordionContent[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(0.32, 0.72, 0, 1);
}

@keyframes slide-up-fade-out {
  0% {
    opacity: 0;
    transform: translateY(6px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-6px);
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes slideUpUniverse {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUpUniverseStage2 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
    height: 100%;
  }
}

@keyframes slideUpUniverseBody {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-5%);
    filter: blur(0.15rem);
  }
}

@keyframes slideUpUniverseBodyStage2 {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(-15%);
    filter: blur(0.5rem);
  }
}