img[src="/maimai/logo.png"] {
  @apply invert dark:invert-0;
}

.gamedecor-bg-header {
  background: transparent url(/maimai/pattern.jpg) repeat;
  background-size: 140px;
  animation: goleft 20s steps(1, end) infinite;
}

.gamedecor-bg-footer {
  background: transparent url(/maimai/footer.png) repeat;
  background-size: 82em;
  animation: footerDraw 120s linear infinite;
}

@keyframes footerDraw {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}

@keyframes goleft {
  0% {
    background-position: 5% 0;
  }

  5% {
    background-position: 10% 0;
  }

  10% {
    background-position: 15% 0;
  }

  15% {
    background-position: 20% 0;
  }

  20% {
    background-position: 25% 0;
  }

  25% {
    background-position: 30% 0;
  }

  30% {
    background-position: 35% 0;
  }

  35% {
    background-position: 40% 0;
  }

  40% {
    background-position: 45% 0;
  }

  45% {
    background-position: 50% 0;
  }

  50% {
    background-position: 55% 0;
  }

  55% {
    background-position: 60% 0;
  }

  60% {
    background-position: 65% 0;
  }

  65% {
    background-position: 70% 0;
  }

  70% {
    background-position: 75% 0;
  }

  75% {
    background-position: 80% 0;
  }

  80% {
    background-position: 85% 0;
  }

  85% {
    background-position: 90% 0;
  }

  90% {
    background-position: 95% 0;
  }

  95% {
    background-position: 100% 0;
  }

  100% {
    background-position: 105% 0;
  }
}