# fly.toml app configuration file generated for yapock on 2025-07-07T05:43:11+10:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'yapock'
primary_region = 'bos'

[build]
  dockerfile = 'Dockerfile'

#[deploy]
#  release_command = 'bunx prisma migrate deploy'

[env]
  AUTH_AVAILABLE_USERNAMES = '.packbase.app'
  DEBUG = 'vg*'
  NODE_ENV = 'production'
  PACKBASE_WAITLIST = 'true'
  PACKS_CDN_URL_PREFIX = 'https://packs.cdn.packbase.app'
  PORT = '8000'
  POSTHOG_KEY = 'phc_uU1ykzQOHa34SGkHZdR9RqyXsIqK7aCDfuM4gnXcgAR'
  PRIVACY_POLICY_URL = 'https://packbase.app/terms'
  PROFILES_CDN_URL_PREFIX = 'https://profiles.cdn.packbase.app'
  SKIP_CLERK_MIGRATION = 'true'
  SUPABASE_DEPRECATION_SEEN = 'true'
  SUPABASE_URL = 'https://udxdytccktvaedirxooa.supabase.co'
  TERMS_OF_SERVICE_URL = 'https://packbase.app/terms'
  VOYAGE_CAPABILITIES = 'realtime'

[processes]
  app = 'bun start'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
