@use 'unicorn/texture';
@use 'nextgen2/snapper-engine/main';

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

.font-pixel {
  font-family: var(--font-pixelify), sans-serif;
}

.load-stagger > * {
  $n: 24;
  opacity: 0.25;
  @apply animate-pulse;

  @for $x from 0 through $n {
    &:nth-child(#{$x}) {
      & > * > .anim-sidenav-pole-entry {
        animation: sidenav-pole-entry 350ms cubic-bezier(0.4, 0, 0.6, 1);
        animation-delay: 100ms * ($x - 1) !important;
      }

      animation-delay: 100ms * ($x - 1) !important;
    }
  }
}

.list-stagger > * {
  & > * {
    $n: 10;
    opacity: 0;
    @apply animate-slide-up-fade;

    @for $x from 0 through $n {
      &:nth-child(#{$x}) {
        animation-delay: 100ms * ($x - 1) !important;
      }
    }
  }
}

.switcher-list-stagger > * {
  & > * {
    $n: 50;
    opacity: 0;
    animation: slide-up-fade 0.3s ease forwards;

    @for $x from 0 through $n {
      &:nth-child(#{$x}) {
        animation-delay: 25ms * ($x - 1) !important;
      }
    }
  }
}

.animate-pulse-stagger > * {
  & > *:not(.dont-animate) {
    $n: 50;
    animation: slide-up-fade-out 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    @for $x from 1 through $n {
      &:nth-child(#{$x}) {
        animation-delay: 150ms * ($x) !important;
      }
    }
  }
}

.infinite-scroll-component {
  overflow: hidden !important;
}

[vaul-drawer-wrapper] {
  transition-property: opacity, transform, border-radius !important;
  transition-duration: 0.5s !important;
  transition-timing-function: cubic-bezier(0.32, 0.72, 0, 1) !important;
  overflow: auto !important;
}

[vaul-drawer-wrapper][aria-hidden='true'] {
  @apply blur-[1px];
  opacity: 0.75;
}

.drawer {
  @apply fixed flex flex-col border border-b-0 rounded-t-[10px] bottom-0 left-0 right-0 h-fit max-h-[97%] mx-[-1px] md:mx-auto md:max-w-sm lg:max-w-md xl:max-w-lg;
}

.AccordionChevron {
  color: var(--violet-10);
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(180deg);
}

.AccordionContent[data-state='open'] {
  @apply border-b;
  animation: slideDown 300ms cubic-bezier(0.32, 0.72, 0, 1);
}

.AccordionContent[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(0.32, 0.72, 0, 1);
}

.shimmer-template {
  @apply before:absolute before:border-n-5 before:inset-0 before:border-t before:-translate-x-full before:bg-gradient-to-r before:from-transparent before:via-neutral-500/5 before:to-transparent;
}

@keyframes sidenav-pole-entry {
  0% {
    width: 100%;
  }
  50% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes logoHueBlur {
  0% {
    filter: blur(64px) hue-rotate(0);
  }

  100% {
    filter: blur(64px) hue-rotate(360deg);
  }
}

@keyframes slide-up-fade-out {
  0% {
    opacity: 0;
    transform: translateY(6px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-6px);
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
