@import 'tailwindcss';
@import './_color.css';
@config "../../tailwind.config.js";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-lexend: 'Lexend', sans-serif;

  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-destructive: rgb(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-primary-ice-white: rgb(245 246 252);
  --color-primary-cosmos: rgb(88 40 245);
  --color-primary-midnight: rgb(20 20 26);
  --color-primary-lime: rgb(206 255 28);

  --color-accent-1: rgb(216 76 16);
  --color-accent-5: rgb(221 167 63);

  --color-n-1: rgb(237 239 247);
  --color-n-2: rgb(211 214 224);
  --color-n-3: rgb(188 191 204);
  --color-n-4: rgb(164 169 187);
  --color-n-5: rgb(110 113 128);
  --color-n-6: rgb(64 66 77);
  --color-n-7: rgb(38,38,40);
  --color-n-8: rgb(30,30,32);
  --color-n-9: var(--color-primary-midnight);

  --color-primary: var(--color-primary-cosmos);
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: var(--color-primary-lime);
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-tertiary: rgb(var(--destructive));

  --radius: 0.75rem;

  --font-wildbase: var(--font-wildbase);

  --ease-snapper: cubic-bezier(0, 1.25, 0, 1);

  --aspect-banner: 3 / 1;

  --animate-logo-hue: hue 1s ease-out, hue 30s ease-out 1s infinite;
  --animate-hue: hue 1s ease-out;
  --animate-shimmer: shimmer 1s ease-out infinite;
  --animate-shimmer-fast: shimmer 0.5s ease-in-out infinite;
  --animate-pulse-inverse: pulse-inverse 0.2s ease-out;
  --animate-shake: shake 50ms;
  --animate-fade-up: fade-up 0.5s;
  --animate-fade-down: fade-down 0.5s;
  --animate-slide-up-fade: slide-up-fade 0.3s cubic-bezier(0.16, 1, 0.3, 1)
    forwards;
  --animate-slide-down-fade: slide-down-fade 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-up-fade-snapper: slide-up-fade 0.3s
    cubic-bezier(0, 1.25, 0, 1) forwards;
  --animate-slide-down-fade-snapper: slide-down-fade 0.3s
    cubic-bezier(0, 1.25, 0, 1);
  --animate-magic-sparkle: magic-sparkle 1.5s forwards;
  /*noinspection CssUnresolvedCustomProperty*/
  --animate-god-rays: god-rays var(--duration) cubic-bezier(0.15, 0, 0.85, 1)
    infinite alternate;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-gradient-move-x: gradient-move-x 2s linear infinite reverse;

  @keyframes gradient-move-x {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: 150%;
    }
  }
  @keyframes hue {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  @keyframes shimmer {
    100% {
      transform: translateX(200%);
    }
  }
  @keyframes pulse-inverse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    80% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    80% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  @keyframes slide-up-fade {
    0% {
      opacity: 0;
      transform: translateY(6px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slide-down-fade {
    0% {
      opacity: 0;
      transform: translateY(-6px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      /*noinspection CssUnresolvedCustomProperty*/
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      /*noinspection CssUnresolvedCustomProperty*/
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes magic-sparkle {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes god-rays {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 233 38 58;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.75rem;
  }

  .dark {
    --color-primary-text-cosmos: 190 155 255;

    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    /*//font-family: 'Lexend Variable', sans-serif;*/
    @apply border-n-3 dark:border-n-6/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/*//@import 'to-org';*/
/*//@import 'nextgen2/main';*/
/*//@import 'unicorn/texture';*/
/*//@import 'nextgen2/snapper-engine/deluxe-shimmer';*/

/*#snap-UniverseEntryTest {*/
/*  transform: translateY(100%);*/
/*  animation: slideUpUniverse 400ms cubic-bezier(0.32, 0.72, 0, 1);*/
/*  animation-fill-mode: forwards;*/
/*  animation-delay: 5s;*/
/*}*/

/*#NGContentArea.EntryTest {*/
/*  animation: slideUpUniverseBody 400ms cubic-bezier(0.32, 0.72, 0, 1);*/
/*  animation-fill-mode: forwards;*/
/*  animation-delay: 5s;*/
/*}*/

/*.EntryPointTestStage2 {*/
/*  animation: slideUpUniverseStage2 400ms cubic-bezier(0.32, 0.72, 0, 1) !important;*/
/*  animation-fill-mode: forwards !important;*/
/*}*/

/*.EntryPointTestStage2Body {*/
/*  animation: slideUpUniverseBodyStage2 400ms cubic-bezier(0.32, 0.72, 0, 1) !important;*/
/*  animation-fill-mode: forwards !important;*/
/*}*/

/*.AccordionChevron {*/
/*  color: var(--violet-10);*/
/*  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);*/
/*}*/

/*.AccordionTrigger[data-state='open'] > .AccordionChevron {*/
/*  transform: rotate(180deg);*/
/*}*/

/*.AccordionContent[data-state='open'] {*/
/*  @apply border-b;*/
/*  animation: slideDown 300ms cubic-bezier(0.32, 0.72, 0, 1);*/
/*}*/

/*.AccordionContent[data-state='closed'] {*/
/*  animation: slideUp 300ms cubic-bezier(0.32, 0.72, 0, 1);*/
/*}*/

/*@keyframes slide-up-fade-out {*/
/*  0% {*/
/*    opacity: 0;*/
/*    transform: translateY(6px);*/
/*  }*/
/*  50% {*/
/*    opacity: 0.5;*/
/*    transform: translateY(0);*/
/*  }*/
/*  100% {*/
/*    opacity: 0;*/
/*    transform: translateY(-6px);*/
/*  }*/
/*}*/

/*@keyframes slideDown {*/
/*  from {*/
/*    height: 0;*/
/*  }*/
/*  to {*/
/*    height: var(--radix-accordion-content-height);*/
/*  }*/
/*}*/

/*@keyframes slideUp {*/
/*  from {*/
/*    height: var(--radix-accordion-content-height);*/
/*  }*/
/*  to {*/
/*    height: 0;*/
/*  }*/
/*}*/

/*@keyframes slideUpUniverse {*/
/*  0% {*/
/*    transform: translateY(100%);*/
/*  }*/
/*  100% {*/
/*    transform: translateY(0);*/
/*  }*/
/*}*/

/*@keyframes slideUpUniverseStage2 {*/
/*  0% {*/
/*    transform: translateY(0%);*/
/*  }*/
/*  100% {*/
/*    transform: translateY(0%);*/
/*    height: 100%;*/
/*  }*/
/*}*/

/*@keyframes slideUpUniverseBody {*/
/*  0% {*/
/*    transform: translateY(0%);*/
/*  }*/
/*  100% {*/
/*    transform: translateY(-5%);*/
/*    filter: blur(0.15rem);*/
/*  }*/
/*}*/

/*@keyframes slideUpUniverseBodyStage2 {*/
/*  0% {*/
/*    transform: translateY(-5%);*/
/*  }*/
/*  100% {*/
/*    transform: translateY(-15%);*/
/*    filter: blur(0.5rem);*/
/*  }*/
/*}*/

.bg-card {
  @apply bg-white dark:bg-n-7;
}

.bg-card\/75 {
  @apply bg-n-1/75 dark:bg-n-7/75;
}

.bg-card-solid {
  @apply bg-white dark:bg-n-7;
}

.shimmer-template {
  @apply before:absolute before:border-n-5 before:inset-0 before:border-t before:-translate-x-full before:bg-gradient-to-r before:from-transparent before:via-neutral-500/5 before:to-transparent;
}
