/* Colours */
.text-default {
  @apply text-neutral-700 dark:text-white;
}

.border-default {
  @apply border-neutral-300 dark:border-neutral-800;
}

.divide-default {
  @apply divide-neutral-300 dark:divide-neutral-800;
}

.ring-default {
  @apply ring-n-2 dark:ring-n-6/80;
}

.bg-default {
  @apply bg-white dark:bg-neutral-800;
}

.bg-default-alt {
  @apply bg-neutral-50 dark:bg-[#303030];
}

.border-default {
  @apply border-neutral-300 dark:border-neutral-800;
}

.divide-default {
  @apply divide-neutral-300 dark:divide-neutral-800;
}

.dark\:border-gradient-red-dark {
  background: linear-gradient(#3d1d1d, #3d1d1d) padding-box, linear-gradient(to top, #f43f5e, #fb7185, #ef4444) border-box
}

.text-secondary {
  color: var(--color-primary-lime);
}

.text-alt {
  @apply text-n-4;
}

.fill-alt {
  @apply fill-n-4/80;
}

.text-tertiary {
  color: rgb(var(--destructive));
}

.border-divider {
  border-color: var(--color-divider);
}

.border-dark {
  border-color: var(--color-border-dark);
}
