:root {
  --font-primary: Lexend, sans-serif;
  --font-secondary: Lexend, sans-serif;
}

body {
  font-family: var(--font-primary);
  font-feature-settings: 'ss04', 'zero', 'tnum', 'caps';
}

* {
  font-family: inherit;
  font-feature-settings: 'ss04', 'zero', 'tnum', 'caps';
}
