/**
 * Standardised classes, for use while UM is active.
 */

.bg-card {
  @apply bg-n-1 dark:bg-n-7;
}

.bg-card\/75 {
  @apply bg-n-1/75 dark:bg-n-7/75;
}

.bg-card-solid {
  @apply bg-white dark:bg-n-7;
}
