/**
 * Standardised classes, for use while UM is active.
 */

.bg-card {
  @apply bg-n-1 dark:bg-n-7;
}

.bg-card\/90 {
  @apply bg-n-1/90 dark:bg-n-7/90;
}

.bg-card-solid {
  @apply bg-white dark:bg-n-7;
}
