/**
 * Standardised classes, for use while UM is active.
 */

.bg-card {
  @apply bg-gradient-to-b from-white to-n-1 dark:from-n-6 dark:to-n-7 unicorn:bg-surface-variant/95;
}

.bg-card-solid {
  @apply bg-white dark:bg-n-7;
}
