@reference '../../../app/styles/globals.css';

.hover\:show-pill {
}

.hover\:show-pill:before {
  @apply absolute rounded bg-n-1 transition-all duration-200 ease-in-out;
  --content-height: 0rem;
  --content-width: 0rem;
  --offset: -0.4rem;
  content: '';
  display: block;
  height: var(--content-height);
  width: var(--content-width);
  left: var(--offset);
}

.hover\:show-pill:hover:before, .force-pill:before {
  --content-height: 1.25rem;
  --content-width: 0.35rem;
  --offset: -0.15rem;
}