@reference '../../../src/styles/globals.css';

.hover\:show-pill {
}

.hover\:show-pill:before {
    @apply absolute rounded transition-all duration-200 ease-in-out;
    background-color: var(--color-n-7);
    --content-height: 0rem;
    --content-width: 0rem;
    --offset: -0.4rem;
    content: '';
    display: block;
    height: var(--content-height);
    width: var(--content-width);
    left: var(--offset);
}

html.dark .hover\:show-pill:before {
    background-color: white;
}

.hover\:show-pill:hover:before, .force-pill:before {
    --content-height: 1.25rem;
    --content-width: 0.35rem;
    --offset: -0.15rem;
}