/* Colours */
.bg-sidebar {
    @apply bg-gradient-to-b from-white to-muted dark:from-n-7 dark:to-muted;
}

.text-default {
    @apply text-neutral-700 dark:text-white;
}

.border-default {
    @apply border-zinc-950/10 dark:border-white/10;
}

.ring-default {
    @apply ring-zinc-950/10 dark:ring-white/10;
}

.bg-default {
    @apply bg-white dark:bg-neutral-800;
}

.text-tertiary {
    color: rgb(var(--destructive));
}

.border-dark {
    border-color: var(--color-border-dark);
}