/* Colours */
.bg-sidebar {
    @apply bg-gradient-to-b from-white to-neutral-50 dark:from-n-7 dark:to-n-7/80;
}

.text-default {
    @apply text-neutral-700 dark:text-white;
}

.border-default {
    @apply border-n-2 dark:border-n-6/50;
}

.ring-default {
    @apply ring-n-2/80 dark:ring-n-6/80;
}

.ring-shadow {
    @apply ring-n-2/50 dark:ring-n-6/80;
}

.bg-default {
    @apply bg-white dark:bg-neutral-800;
}

.bg-default-alt {
    @apply bg-neutral-50 dark:bg-[#303030];
}

.border-default-alt {
    @apply border-n-2 dark:border-n-6/50;
}

.text-secondary {
    color: var(--color-primary-lime);
}

.text-alt {
    @apply text-n-4;
}

.fill-alt {
    @apply fill-n-4/80;
}

.text-tertiary {
    color: rgb(var(--destructive));
}

.border-dark {
    border-color: var(--color-border-dark);
}