$n: 4;

.item {
  @apply relative w-full bg-neutral-200/50 rounded highlight-white/5 dark:bg-neutral-800/50;

  opacity: 0;
  top: 16px;
  will-change: opacity, transform, top;

  @for $x from 0 through $n {
    &:nth-child(#{$x}) {
      animation-delay: 100ms * ($x - 1) !important;
    }
  }

  &.itemIn {
    animation: slideUpFromAngle 500ms cubic-bezier(0, 1.25, 0, 1) forwards;
  }

  &.itemOut {
    animation: slideUpOutFromAngle 500ms cubic-bezier(0.87, 0, 0.04, 1) backwards;
  }
}

@keyframes slideUpFromAngle {
  0% {
    opacity: 0;
    top: 2rem;
    transform: rotate(1.5deg);
  }
  100% {
    opacity: 1;
    top: 0;
    transform: rotate(0);
  }
}

@keyframes slideUpOutFromAngle {
  0% {
    opacity: 1;
    top: 0;
    transform: rotate(0);
  }
  100% {
    opacity: 0;
    top: -2rem;
    transform: rotate(0.5deg);
  }
}
